[data-md-color-scheme="slate"] {
  --md-typeset-a-color: #00ccff;
  --md-default-heading-color: #f5f5f5;
  --md-primary-fg-color: #222222;
  --md-default-bg-color: #1c1c1c;
  --md-header-bg-color: #222222;
  --md-code-bg-color: #222222;
  --md-header-fg-color: #eeeeee;
}
