/* :root { */
/*   -webkit-font-smoothing: subpixel-antialiased; */
/*   -moz-osx-font-smoothing: grayscale; */
/* } */

.md-typeset h2,
.md-typeset h3 {
  margin-block: 0.5lh;
}
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
    margin-block: 0.25lh;
}

.md-typeset ol li,
.md-typeset ul li {
    margin-bottom: unset;
}

.md-typeset h1 {
  font-weight: 800;
}

.md-typeset h2 {
  font-weight: 700;
}

.md-typeset h3 {
  font-weight: 600;
}
.md-typeset h4 {
  font-weight: 500;
}
.md-typeset h5 {
  font-weight: 400;
}

.md-typeset h6 {
  font-weight: 400;
}

.md-nav__link .md-ellipsis {
  overflow: visible;
}

.md-typeset code {
	background-color: var(--md-code-bg-color);
	border-radius: .1rem;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
    font-size: 1em;
	quotes: 0 .2941176471em;
	word-break: break-word;
}

.highlighttable .linenos {
	background-color: var(--md-code-bg-color);
	border-bottom-left-radius: .1rem;
	border-top-left-radius: .1rem;
	padding: .7720588235em 0 .7720588235em 1.1764705882em;
	-webkit-user-select: none;
	user-select: none;
}

[data-md-color-scheme="slate"] {
  --md-code-bg-color: #222222;
  --md-header-fg-color: #eeeeee;
  --md-header-bg-color: #222222;
  --md-primary-fg-color: #222222;
  --md-default-bg-color: #1c1c1c;
  --md-default-heading-color: #f5f5f5;
  --md-accent-fg-color: #ff67ff;
  --md-typeset-a-color: #82b1ff;
  --md-typeset-a-color-hover: #ff67ff;
  --md-default-url-fg-color-hover: #ff1a8f;
  --md-default-code-bg-color: #f8f8f8;

  .md-typeset a:hover {
    color: var(--md-accent-fg-color);
    transition: color 0.2s ease-in-out;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
  }

[data-md-color-scheme="default"] {
  --md-code-bg-color: var(--md-default-code-bg-color);
  .md-typeset a:hover {
    color: var(--md-url-fg-color-hover); 
    transition: color 0.2s ease-in-out;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
  }
    }
}
